@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.mantine-Drawer-title {
  font-size: 3rem;
  color: white;
  background-color: #5a57ee;
  text-transform: uppercase;
  font-weight: bold;
}
.mantine-Drawer-content {
  background-color: #5a57ee;
}

.mantine-Drawer-header {
  background-color: #5a57ee;
}

.mantine-Drawer-close {
  font-size: 3rem;
  color: white;
  background-color: #5a57ee;
  text-transform: uppercase;
}

.mantine-Drawer-close:hover {
  font-size: 3rem;
  color: white;
  background-color: #5a57ee;
  text-transform: uppercase;
}

.mantine-Drawer-close:active {
  font-size: 3rem;
  color: white;
  background-color: #5a57ee;
  text-transform: uppercase;
}

input,
textarea,
select {
  font-size: 16px;
}
